js/*.js
mutt/certificates
mutt/gmail-root.pem
mutt/gmail-root.txt
mutt/muttrc
mutt/pw-*
ssh/*.pem
ssh/id_rsa
ssh/known_hosts
subversion/README.txt
subversion/auth
subversion/servers
vim/backup/*
vim/bundle
vim/.netrwhist
