js/*.js
mutt/certificates
mutt/gmail-root.pem
mutt/gmail-root.txt
mutt/pw-*
ssh/*.pem
ssh/id_ed25519
ssh/id_rsa
ssh/known_hosts
subversion/README.txt
subversion/auth
subversion/servers
vim/autoload/plug.vim.old
vim/backup/*
vim/plugged
vim/.netrwhist
