keybinds clear-defaults=true {
    locked {
        bind "Alt f" { ToggleFloatingPanes; }
        bind "Super t" { NewPane; }
        bind "Super Shift [" { GoToPreviousTab; }
        bind "Super Shift ]" { GoToNextTab; }
        bind "Super [" { FocusPreviousPane; }
        bind "Super ]" { FocusNextPane; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt =" { Resize "Increase"; }
        bind "Ctrl g" { SwitchToMode "Pane"; }
    }

    shared_except "locked" {
        bind "Esc" "Ctrl g" { SwitchToMode "Locked"; }
    }

    pane {
        bind "p" { TogglePanePinned; SwitchToMode "Locked"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "t" { NewTab; SwitchToMode "Locked"; }
        bind "1" { SwitchToMode "Locked"; GoToTab 1; }
        bind "2" { SwitchToMode "Locked"; GoToTab 2; }
        bind "3" { SwitchToMode "Locked"; GoToTab 3; }
        bind "4" { SwitchToMode "Locked"; GoToTab 4; }
        bind "h" { Resize "Increase Left"; }
        bind "j" { Resize "Increase Down"; }
        bind "k" { Resize "Increase Up"; }
        bind "l" { Resize "Increase Right"; }
        bind "Tab" { ToggleTab; SwitchToMode "Locked"; }
        bind "Ctrl q" { Quit; }
    }

    renametab {
        bind "Enter" { SwitchToMode "Locked"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Locked"; }
    }
}

load_plugins {
    "https://github.com/dj95/zjstatus/releases/download/v0.21.0/zjstatus.wasm"
}

plugins {
    zjstatus location="https://github.com/dj95/zjstatus/releases/download/v0.21.0/zjstatus.wasm" {
        format_left "{mode}{tabs}"
        color_mode "magenta"
        color_bg "#000000"
        color_active "#98c379"
        color_normal "#abb2bf"
        mode_locked     "#[]   "
        mode_pane       "#[fg=$mode,bold] ZELLIJ "
        mode_rename_tab "#[fg=$mode,bold] RENAME "
        tab_active "#[bg=$active,fg=$bg] #[bg=$active,fg=$bg,bold]{name} #[bg=$bg,fg=$active]"
        tab_normal "#[bg=$normal,fg=$bg] #[bg=$normal,fg=$bg,bold]{name} #[bg=$bg,fg=$normal]"
    }
}

default_mode "locked"
pane_frames false
session_serialization false
show_startup_tips false

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
// themes {
//     dracula {
//         fg 248 248 242
//         bg 40 42 54
//         red 255 85 85
//         green 80 250 123
//         yellow 241 250 140
//         blue 98 114 164
//         magenta 255 121 198
//         orange 255 184 108
//         cyan 139 233 253
//         black 0 0 0
//         white 255 255 255
//     }
// }
theme "onedark"
