# Defaults: https://github.com/helix-editor/helix/blob/master/languages.toml

[language-server.astro-ls]
command = "astro-ls"
args = ["--stdio"]
config.typescript.tsdk = "/opt/homebrew/lib/node_modules/@astrojs/language-server/node_modules/typescript/lib"
config.environment = "node"

[language-server.ruff]
command = "ruff"
args = ["server"]

[language-server.ty]
command = "ty"
args = ["server"]

[[language]]
name = "astro"
auto-format = true
formatter = { command = "prettier", args = [
  "--plugin",
  "prettier-plugin-astro",
  "--parser",
  "astro",
] }
language-servers = ["astro-ls"]

[[language]]
name = "lua"
auto-format = true

[[language]]
name = "python"
auto-format = true
language-servers = ["basedpyright", "ruff"]


[[language]]
name = "svelte"
auto-format = true
formatter = { command = "prettier", args = [
  "--plugin",
  "prettier-plugin-svelte",
  "--parser",
  "svelte",
] }

[[language]]
# TODO needs a .git as a parent, otherwise it works in "detached workspace" mode and doesn't validate
name = "toml"
auto-format = true
formatter = { command = "taplo", args = ["fmt", "-"] }

[[language]]
name = "javascript"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }

[[language]]
name = "typescript"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }
language-servers = [
  'typescript-language-server',
  'vscode-eslint-language-server',
]

[[language]]
name = "tsx"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }
