[user]
name = "Zak Johnson"
email = "me@zakj.net"

[ui]
default-command = "log"
diff-editor = ":builtin"

[merget-tools.difft]
diff-args = ["--color=always", "$left", "$right"]

[git]
colocate = true
private-commits = 'description(glob:"private:*") | description(glob:"wip[: ]*")'

[colors]
# https://github.com/jj-vcs/jj/blob/main/cli/src/config/colors.toml
"diff token" = { underline = false }

[aliases]
difft = ["diff", "--tool", "difft"]
tug = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@-"]

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'

[template-aliases]
blame = '''
  separate(
    " ",
    truncate_end(30, commit.author().name(), "…") ++ ",",
    commit_timestamp(commit).local().ago(),
    surround("[", "]", commit.change_id().shortest()),
    commit.description().first_line(),
  ) ++ "\n"
'''
prompt = '''
  separate(
    " ",
    if(description, label("elided", truncate_end(26, description.first_line(), "…"))),
    if(empty, label("empty", "∅")),
    if(!description && !empty, description_placeholder),
    if(conflict, label("conflict", "×")),
  )
'''
